@use "pico" with (
  $enable-semantic-container: true,
  $enable-classes: true,
  $theme-color: "fuchsia"
);

/* footer */
.footer-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-left {
  flex: 1;
}

.footer-center {
  text-align: center;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right a + a {
  margin-left: 0.5rem;
}

/* Goals page */
.goal-list {
  display: grid;
  gap: 1rem;
}

.goal {
  padding: 1rem 1rem;
  border: 1px solid var(--pico-background-color);
  border-radius: 0.5rem;
}
