@use "pico" with (
  $enable-semantic-container: true,
  $enable-classes: true,
  $theme-color: "fuchsia"
);

/* footer */
.footer-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-left {
  flex: 1;
}

.footer-center {
  text-align: center;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right a + a {
  margin-left: 0.5rem;
}

/* Goals page */
.goal-list {
  display: grid;
  gap: 1rem;
}

.goal {
  padding: 1rem 1rem;
  border: 1px solid var(--pico-background-color);
  border-radius: 0.5rem;
}

.goal-actions {
  display: none;
  justify-content: flex-end;
  button {
    height: 1.5rem;
    padding: 0 0.5rem;
    margin: 0 0 0 0.5rem;
  }
  input[type="color"] {
    height: 1.5rem;
    width: 2rem;
    padding: 0;
    margin: 0 0 0 0.5rem;
    border-width: 0.1rem;
    cursor: pointer;
  }
}

.goal:hover .goal-actions,
.goal:focus-within .goal-actions {
  display: flex;
}

.add-goal-button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
}
